<html>
  <head><title>Caeser Cipher</title></head>
  <body>
  <h1>Welcome to Caeser Cipher</h1>
  <p>Caeser Cipher takes a text phrase and an integer and offsets it to form a simple form of encryption.
  <p> Please enter a phrase to encrypt followed by an integer to offset it by.</p><br><br>

  <form>
  <h4>Phrase:</h4><input type='text' name='phrase'/><br>
  <h4>Integer:</h4><input type='text' name='offset'/><br><br>
  <input type='submit' value='Submit'/>
  </form><br><br>

  <p><%= "Your encrypted message is <strong>#{message}</strong>!" %>
  </p>


  </body>
</html>
